.secondary-menu-container {
	background: #f2f2f2;
	position: fixed;
	width: 84%;
	min-height: 4%;
	margin-top: 48px;
	display: flex;
	align-items: center;
	.secondary-menu-label {
		margin-left: 2%;
		font-weight: 600;
		letter-spacing: 0.4px;
		font-size: 13px;
		cursor: pointer;
	}
	.menu-dropdown {
		display: flex;
		align-items: center;
		margin-left: 2%;
		cursor: pointer;
		.menu-dropdown-arrow {
			font-size: 15px;
		}
	}
}

@media only screen and (max-width: 950px) {
	.secondary-menu-container {
		display: none;
	}
}
